* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto Light", sans-serif;
}

body {
  overflow: hidden;
}


.warringtouser {
  user-select: none;
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center; /** X-axis align **/
  opacity: 0.5;
}

.wrapper {
  height: 100vh;
  display: flex;
}


.col {
  flex: 1;
  /*background: darkred ;*/
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}


.poup__wrap {
  width: 100%;
  transition: all 0.5s ease;
  height: 100vh;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  display: flex;
  background: #ffff;
  justify-content: center;
  align-items: center;
}

.col h2 {
  padding: 10px;
  color: #fff;
}


.col h2:hover {
  background: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.col button {
  border: none;
  background: transparent;
  font-size: 1.5rem;
  color: #fff;
  fill: #fff;
  padding: 10px;
}



.col button:hover {
  background: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

